#to-fill {
    height: 0px;
}

.quiz-container, .quiz-container-special, .tie-breakers{
    @extends %trans;
    margin: auto auto;
    margin-top: 50px;
    height: 40vh;
    min-width: 50vw;
    max-width: 300px;
    padding: 40px 20px;
    background: rgba(30,30,30,.5);
    color: white;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    animation: fadeIn 2s;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

    & .row {
        justify-content: center;
        width: 100%;
    }

    & .btn {
        margin-bottom: 10px;
        color: white!important;
        font-weight: 600;
        padding: 10px;
        text-shadow: 0px 0px 3px black;
        cursor: pointer;
    }

    & .btn-danger {
        width: 35%;
    }

    & .btn-warning {
        width: 32%;
    }

    & .btn-success {
        width: 26%;
    }
}

.quiz-container-special{
    margin-top: 86px;
    }

.tie-breakers {
    display: none;
}

#submit-container, #submit-container2 {
    -moz-transition: 1.6s ease-in-out;
    -webkit-transition: 1.6s ease-in-out;
    transition: 1.6s ease-in-out;
    margin: auto auto;
    height: 20vh;
    min-width: 50vw;
    max-width: 300px;
    position: relative;

    & #quiz-submit, #quiz-submit2 {
        padding: 10px 20px;
        font-size: 20px;
        margin: 60px calc(3.5% + 22px);
        right: 10px;
        top: 12px;
        border: 2px solid black;
    }
}

#submit-container2 {
    display: none;
}

#finished-container {
    display: block;

    & a > div {
        position: relative;
        top: 10px;
    }
}

#final-button {
    margin-top: 40vh;
    position: relative;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 15px 20px;
    border-radius: 50%;
    height: 200px; width: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;

    &::before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '';
        border-radius: 50%;
        height: 208px; width: 208px;
        background: rgba(0,0,0,0);
        border: 4px solid gray;
    }

    &::after {
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '';
        border-radius: 50%;
        height: 210px; width: 210px;
        background: rgba(0,0,0,0);
        border: 7px solid gray;
        animation: pulse 2.5s infinite;
    }

    &:hover{
        p:nth-child(1), p:nth-child(3) {
        color: gray;
        }
    }

    & p {
        margin: 4px 0;
        transition: .3s;
    }
}

@media (min-width: 800px) {
    .quiz-container, .quiz-container-special, .tie-breakers {
        height: 28vh;
    }
}

@media (min-width: 1350px) {
    .quiz-container, .quiz-container-special, .tie-breakers {
        height: 23vh;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        height: 210px; width: 210px;
    }

    22% {
        opacity: .08;
        border: 43px solid gray;
        height: 290px; width: 290px;
    }

    55%, 100% {
        opacity: 0;
        border: 1px solid gray;
        height: 400px; width: 400px;
    }
}