@import url("https://fonts.googleapis.com/css?family=Roboto");
a, a:link, a:visited, a:hover {
  text-decoration: none; }

#hidden-nav {
  display: none;
  border-radius: 0 0 20px 0;
  background: #141414;
  position: absolute;
  transition: .5s ease-in-out; }
  #hidden-nav #hamburger {
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
    height: 30px;
    width: 40px;
    background: #141414;
    position: absolute; }
  #hidden-nav .hamburger-lines {
    transform-origin: left center;
    left: 7px;
    background: white;
    height: 3px;
    width: 25px;
    position: absolute;
    border-radius: 100px;
    transition: .5s ease-in-out; }
  #hidden-nav .hamburger-lines:nth-of-type(1) {
    top: 6px;
    z-index: 1; }
  #hidden-nav .hamburger-lines-toggle-one {
    transform: rotate(45deg); }
  #hidden-nav .hamburger-lines:nth-of-type(2) {
    top: 13px; }
  #hidden-nav .hamburger-lines-toggle-two {
    background: black; }
  #hidden-nav .hamburger-lines-toggle-three {
    transform: rotate(-45deg);
    margin-top: 4px; }
  #hidden-nav .hamburger-lines:nth-of-type(3) {
    top: 20px; }

.move1 {
  top: 6px;
  left: 0;
  height: 48px;
  width: 60px; }
  .move1 ul, .move1 li, .move1 a {
    color: transparent; }

.move2 {
  top: 50px;
  left: 0;
  height: 370px;
  width: 200px;
  padding-top: 30px; }
  .move2 ul, .move2 li, .move2 a {
    color: gray; }
  .move2 a:hover {
    color: white; }

ul:nth-child(3) {
  cursor: default; }

ul {
  position: relative;
  color: white;
  transition: .5s;
  white-space: nowrap;
  list-style-type: none;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 20px; }
  ul li, ul a {
    transition: .5s;
    padding-bottom: 15px;
    text-decoration: none; }
  ul li {
    padding-left: 30px; }

.opacity-zero {
  opacity: 0; }

.disappear {
  display: none; }

.slider {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 7px;
  background: #d3d3d3;
  outline: none;
  transition: .2s;
  -webkit-transition: .2s;
  opacity: .7;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 90px;
  display: block; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: gray;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: gray;
  cursor: pointer; }

.slider::after {
  content: "Aggression";
  position: absolute;
  top: 15px;
  right: 0;
  color: pink;
  font-weight: 900; }

.slider::before {
  content: "Cooperative";
  position: absolute;
  top: 15px;
  color: lightblue; }

* {
  transition: .2s; }

body {
  margin: 0px;
  background-color: #0A0A0A;
  font-size: 25px;
  font-family: roboto; }

#navbar {
  background: #141414;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px; }

#navbar > span {
  position: relative; }

.extra-margin {
  margin: 30px; }

#elements:hover #triangle {
  transform: rotate(180deg);
  top: 35px; }

.container-dropdown-elements-menu:hover, #elements:hover ~ .container-dropdown-elements-menu {
  display: block;
  animation: dropdown-animation .3s; }

#triangle {
  transition: .5s ease-in-out;
  position: absolute;
  z-index: 4;
  top: 29px;
  left: 150px; }

.container-dropdown-elements-menu {
  opacity: 1;
  display: none;
  position: absolute;
  height: 250px;
  width: 160px;
  top: 60px;
  left: 85px; }
  .container-dropdown-elements-menu .dropdown-elements-menu {
    width: 100%;
    position: absolute;
    background: #141414;
    color: white;
    z-index: 3; }

.dropdown-elements-menu ul {
  margin: 4px 0px;
  padding: 0px;
  text-align: left; }
  .dropdown-elements-menu ul li {
    list-style-type: none;
    position: relative;
    padding: 10px 5px; }
    .dropdown-elements-menu ul li .overlay-elements {
      background: #71cdf2;
      height: 0;
      width: 4px;
      position: absolute;
      left: 0;
      top: 25px;
      transition: .5s ease-in-out; }
    .dropdown-elements-menu ul li a {
      padding: 5px 20px;
      color: white;
      text-decoration: none;
      letter-spacing: 4px;
      width: 100%;
      height: 100%; }
    .dropdown-elements-menu ul li a:hover {
      color: white;
      text-decoration: none; }
    .dropdown-elements-menu ul li a:hover ~ .overlay-elements {
      height: 100%;
      top: 0; }

.container {
  position: relative;
  background: black;
  padding: 10px;
  width: 100%;
  z-index: 1;
  margin: 30px 30px;
  padding: 0px; }

.centered {
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  letter-spacing: 15px;
  text-shadow: 2px 2px 3px black;
  color: white; }

.overlay {
  position: fixed;
  top: 35%;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 30%;
  opacity: .5;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 0; }

.changed-a {
  position: relative; }

.changed-a > a {
  color: white;
  padding: 30px 10px;
  text-decoration: none; }

.changed-b::hover {
  color: gray;
  padding: 0px 10px;
  text-decoration: none; }

.overlay-a {
  position: absolute;
  bottom: -17px;
  left: 10px;
  padding: 0;
  height: 3px;
  background-color: #71cdf2;
  width: 0;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

#elements:hover .overlay-a {
  width: 73%; }

.changed-a:hover .overlay-a {
  width: 90%; }

.changed-b:hover .overlay-a {
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 60%; }

#firePic {
  background: url("../pics/fire.jpg") top center no-repeat; }

#waterPic {
  background: url("../pics/water.jpg") center center no-repeat; }

#windPic {
  background: url("../pics/wind.jpg") center center no-repeat; }

#earthPic {
  background: url("../pics/earth.jpg") bottom center no-repeat; }

#firePic, #waterPic, #windPic, #earthPic {
  border-radius: 3px;
  height: 100%;
  background-size: cover;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.outer {
  height: 330px;
  overflow: hidden; }

.container:hover .overlay {
  width: 100%; }
.container:hover #firePic, .container:hover #waterPic, .container:hover #windPic, .container:hover #earthPic {
  transform: scale(1.05); }

.row {
  padding: 0px;
  margin: 0px; }

@media (max-width: 991px) {
  .container {
    margin: 10px 20px; }

  .extra-margin {
    margin: 10px; }

  .changed-a:hover .overlay-a .changed-b:hover .overlay-a {
    width: 0; }

  .container:hover .overlay {
    width: 0; } }
@media (max-width: 768px) {
  .outer {
    height: 260px; }

  #science, #elements, #elements-dropdown, overlay-a {
    display: none; }

  #icon {
    left: calc(50% - 30px); }

  #hidden-nav {
    display: block; } }
@keyframes dropdown-animation {
  0% {
    opacity: 0;
    top: 5; }
  100% {
    opacity: 1;
    top: 60px; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade {
  opacity: 1;
  animation: fadeIn .75s; }

disappear {
  display: none; }

#down-arrow {
  cursor: pointer;
  position: relative;
  bottom: -5px;
  left: calc(50% - 10px);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #d7d7d7; }

#down-arrow:hover {
  background: #bdbdbd; }

/*# sourceMappingURL=formatting2.css.map */
