@import url("https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff");
@import url("https://fonts.googleapis.com/css?family=Signika+Negative");
a, a:link, a:visited, a:hover {
  text-decoration: none; }

#hidden-nav {
  display: none;
  border-radius: 0 0 20px 0;
  background: #141414;
  position: absolute;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  #hidden-nav #hamburger {
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
    height: 30px;
    width: 40px;
    background: #141414;
    position: absolute; }
  #hidden-nav .hamburger-lines {
    transform-origin: left center;
    left: 7px;
    background: white;
    height: 3px;
    width: 25px;
    position: absolute;
    border-radius: 100px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  #hidden-nav .hamburger-lines:nth-of-type(1) {
    top: 6px;
    z-index: 1; }
  #hidden-nav .hamburger-lines-toggle-one {
    transform: rotate(45deg); }
  #hidden-nav .hamburger-lines:nth-of-type(2) {
    top: 13px; }
  #hidden-nav .hamburger-lines-toggle-two {
    background: #141414; }
  #hidden-nav .hamburger-lines-toggle-three {
    transform: rotate(-45deg);
    margin-top: 4px; }
  #hidden-nav .hamburger-lines:nth-of-type(3) {
    top: 20px; }

.move1 {
  top: 6px;
  left: 0;
  height: 48px;
  width: 60px; }
  .move1 ul, .move1 li, .move1 a {
    color: transparent; }

.move2 {
  top: 0px;
  left: 0;
  height: 440px;
  width: 200px;
  padding-top: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 4; }
  .move2 ul, .move2 li, .move2 a {
    color: gray; }
  .move2 a:hover {
    color: white; }

ul:nth-child(3) {
  cursor: default; }

ul {
  position: relative;
  color: white;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
  list-style-type: none;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 20px; }
  ul li, ul a {
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-bottom: 15px;
    text-decoration: none; }
  ul li {
    padding-left: 30px; }

.opacity-zero {
  opacity: 0; }

.disappear {
  display: none; }

.slider {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 7px;
  background: #d3d3d3;
  outline: none;
  transition: .2s;
  -webkit-transition: .2s;
  opacity: .7;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 90px;
  display: block; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: gray;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: gray;
  cursor: pointer; }

.slider::after {
  content: "Aggression";
  position: absolute;
  top: 15px;
  right: 0;
  color: pink;
  letter-spacing: 2px;
  font-weight: 900; }

.slider::before {
  content: "Cooperative";
  position: absolute;
  top: 15px;
  color: lightblue; }

#bar-main-container #bar-header {
  opacity: 1;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 0 20px;
  animation-name: fadeInTransition;
  animation-duration: 3.5s; }
#bar-main-container .bar-container {
  margin: 0 auto;
  background: rgba(30, 30, 30, 0.5);
  height: 430px;
  width: 80%;
  position: relative;
  border-radius: 5px; }
  #bar-main-container .bar-container .bar {
    position: absolute;
    bottom: 0;
    width: calc((100% / 12) * 1.5);
    display: inline-block;
    border-radius: 10px 10px 0 0;
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    height: 0;
    border-right: rgba(0, 0, 0, 0.2) solid 3px;
    border-radius: 5px 5px 0 0; }
  #bar-main-container .bar-container .bar:nth-child(1) {
    left: 10vw;
    transition-delay: .25s;
    background: #ff3333; }
  #bar-main-container .bar-container .bar:nth-child(2) {
    left: 27vw;
    transition-delay: .5s;
    background: #00b300; }
  #bar-main-container .bar-container .bar:nth-child(3) {
    left: 44vw;
    transition-delay: .75s;
    background: #ffff33; }
  #bar-main-container .bar-container .bar:nth-child(4) {
    left: 61vw;
    transition-delay: 1s;
    background: #3333ff; }
  #bar-main-container .bar-container .bar-percent {
    font-size: 22px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: inline-block;
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    color: white;
    margin: 33px 0; }
  #bar-main-container .bar-container #barOne {
    left: 10vw;
    transition-delay: 1s; }
  #bar-main-container .bar-container #barTwo {
    left: 27vw;
    transition-delay: 1.25s; }
  #bar-main-container .bar-container #barThree {
    left: 44vw;
    transition-delay: 1.5s; }
  #bar-main-container .bar-container #barFour {
    left: 61vw;
    transition-delay: 1.75s; }
  #bar-main-container .bar-container ul {
    position: absolute;
    bottom: 0; }
    #bar-main-container .bar-container ul li {
      font-size: 22px;
      padding: 30px 0;
      position: absolute;
      display: inline-block;
      -moz-transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      transition: 1s ease-in-out; }
  #bar-main-container .bar-container li:nth-child(1) {
    left: 10vw;
    transition-delay: 1s; }
  #bar-main-container .bar-container li:nth-child(2) {
    left: 27vw;
    transition-delay: 1.25s; }
  #bar-main-container .bar-container li:nth-child(3) {
    transition-delay: 1.5s;
    left: 44vw; }
  #bar-main-container .bar-container li:nth-child(4) {
    transition-delay: 1.75s;
    left: 61vw; }
  @media (min-width: 1000px) {
    #bar-main-container .bar-container .bar-container {
      width: 60%; }
    #bar-main-container .bar-container .bar {
      width: calc(100% / 12); } }
  @media (max-width: 700px) {
    #bar-main-container .bar-container li {
      transform: rotate(-45deg);
      margin-left: -20px; }
    #bar-main-container .bar-container li:nth-child(1) {
      padding: 23px 0;
      margin-left: -05px; } }
@keyframes fadeInTransition {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#bar-main-container .row {
  animation-name: fadeInTransition;
  animation-duration: 3.5s; }
#bar-main-container .col-sm-5 {
  margin: 0 auto;
  margin-top: 80px;
  text-align: center; }
#bar-main-container table {
  border-collapse: collapse;
  color: white; }
#bar-main-container table, #bar-main-container th, #bar-main-container td {
  border: 3px solid #141414;
  padding: 13px 40px; }
#bar-main-container th {
  letter-spacing: 3px; }
#bar-main-container th:nth-child(1) {
  text-align: right; }
#bar-main-container td:nth-child(odd) {
  text-align: right; }
#bar-main-container tr:nth-child(6) {
  background: rgba(148, 152, 158, 0.1); }
#bar-main-container #firebase {
  margin: auto auto;
  margin-bottom: 18px;
  height: 100px;
  width: 100px;
  background: url() center center no-repeat;
  object-fit: scale-down; }
@media (min-width: 768px) {
  #bar-main-container #firebase {
    margin-top: 120px; } }

.commentBlock {
  opacity: 1;
  margin: 0px auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  max-height: auto;
  padding: 50px;
  max-width: 1000px;
  line-height: 25px;
  position: relative;
  top: -150px;
  color: black;
  font-size: 28px;
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: .3s; }
  .commentBlock a {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .commentBlock #btn-dark {
    font-size: 25px;
    position: absolute;
    top: 296px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    letter-spacing: .3px; }
  .commentBlock #text, .commentBlock #name {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #cdcdcd; }
  .commentBlock #text {
    width: 100%;
    height: 150px;
    resize: none; }
  .commentBlock #name {
    width: 50%;
    margin-top: -10px;
    margin-bottom: 20px; }
  @media (max-width: 1222px) {
    .commentBlock #btn-dark {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .commentBlock #btn-dark {
      font-size: 14px; } }

.center {
  text-align: center; }

.comment-container {
  padding: 25px 25px;
  background: linear-gradient(#bebebe, #f1f1f1 50%);
  max-width: 1000px;
  margin: 0px auto;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px; }
  .comment-container .date {
    color: #28a745;
    font-weight: 500;
    padding-bottom: 10px; }
  .comment-container .name, .comment-container .comment {
    padding-left: 10px; }
  .comment-container .reply-container {
    padding-top: 10px;
    padding-left: 30px; }

@media (max-width: 1222px) {
  .commentBlock {
    padding: 50px 45px;
    margin: 50px 65px;
    font-size: 20px; }

  .comment-container {
    margin: 0px 65px;
    font-size: 20px;
    margin-bottom: 40px; } }
@media (max-width: 767px) {
  .commentBlock {
    padding: 50px 24px;
    margin: 50px 30px;
    font-size: 14px; }

  .comment-container {
    margin: 0px 30px;
    font-size: 14px;
    margin-bottom: 40px; } }
#commentBlock {
  margin-top: -50px;
  padding: 35px 25px;
  height: 350px;
  background: #f1f1f1;
  max-width: 1000px; }

.bold-name {
  font-weight: 900; }

#compareBlock {
  margin-top: 180px;
  padding: 3px 3px;
  white-space: nowrap;
  background: transparent;
  justify-content: justify;
  box-shadow: none;
  z-index: 2; }
  #compareBlock .element_column {
    display: inline-block;
    width: 21.8%;
    text-align: center;
    margin: 0 1.1%;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: #141414;
    z-index: 2;
    position: relative; }
    #compareBlock .element_column .inside-circle {
      top: 50%;
      transform: translateY(-50%);
      position: relative; }
  #compareBlock .element_column:nth-child(1) {
    border: 3px solid #ff6666; }
  #compareBlock .element_column:nth-child(2) {
    border: 3px solid lightgreen; }
  #compareBlock .element_column:nth-child(3) {
    border: 3px solid #ffff66; }
  #compareBlock .element_column:nth-child(4) {
    border: 3px solid lightblue; }
  #compareBlock .element_column:hover .inside-circle {
    letter-spacing: 2px;
    font-weight: 900; }
  @media (max-width: 768px) {
    #compareBlock .element_column {
      width: 25%;
      left: -5%; } }
  @media (max-width: 425px) {
    #compareBlock .element_column {
      width: 30%;
      left: -18%; } }
  @media (max-width: 320px) {
    #compareBlock .element_column {
      width: 35%;
      left: -29.5%; } }

@media (max-width: 768px) {
  #compareBlock {
    margin-bottom: 0; } }
#choose-div {
  color: white;
  padding: 20px 0;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  background: transparent;
  z-index: 3; }

#element-compare {
  height: auto;
  position: relative;
  background: #141414;
  margin-bottom: 100px;
  overflow: hidden; }

#compare-text {
  position: relative;
  top: -100px;
  height: auto;
  width: 100%;
  line-height: 1.5em;
  margin-bottom: -90px;
  border-radius: 10px;
  z-index: 2;
  color: black;
  padding: 0px; }

#to-fill {
  height: 0px; }

.quiz-container, .quiz-container-special, .tie-breakers {
  @extends %trans;
  margin: auto auto;
  margin-top: 50px;
  height: 40vh;
  min-width: 50vw;
  max-width: 300px;
  padding: 40px 20px;
  background: rgba(30, 30, 30, 0.5);
  color: white;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
  animation: fadeIn 2s;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }
  .quiz-container .row, .quiz-container-special .row, .tie-breakers .row {
    justify-content: center;
    width: 100%; }
  .quiz-container .btn, .quiz-container-special .btn, .tie-breakers .btn {
    margin-bottom: 10px;
    color: white !important;
    font-weight: 600;
    padding: 10px;
    text-shadow: 0px 0px 3px black;
    cursor: pointer; }
  .quiz-container .btn-danger, .quiz-container-special .btn-danger, .tie-breakers .btn-danger {
    width: 35%; }
  .quiz-container .btn-warning, .quiz-container-special .btn-warning, .tie-breakers .btn-warning {
    width: 32%; }
  .quiz-container .btn-success, .quiz-container-special .btn-success, .tie-breakers .btn-success {
    width: 26%; }

.quiz-container-special {
  margin-top: 86px; }

.tie-breakers {
  display: none; }

#submit-container, #submit-container2 {
  -moz-transition: 1.6s ease-in-out;
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
  margin: auto auto;
  height: 20vh;
  min-width: 50vw;
  max-width: 300px;
  position: relative; }
  #submit-container #quiz-submit, #submit-container #quiz-submit2, #submit-container2 #quiz-submit, #submit-container2 #quiz-submit2 {
    padding: 10px 20px;
    font-size: 20px;
    margin: 60px calc(3.5% + 22px);
    right: 10px;
    top: 12px;
    border: 2px solid black; }

#submit-container2 {
  display: none; }

#finished-container {
  display: block; }
  #finished-container a > div {
    position: relative;
    top: 10px; }

#final-button {
  margin-top: 40vh;
  position: relative;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 15px 20px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer; }
  #final-button::before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    border-radius: 50%;
    height: 208px;
    width: 208px;
    background: transparent;
    border: 4px solid gray; }
  #final-button::after {
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    border-radius: 50%;
    height: 210px;
    width: 210px;
    background: transparent;
    border: 7px solid gray;
    animation: pulse 2.5s infinite; }
  #final-button:hover p:nth-child(1), #final-button:hover p:nth-child(3) {
    color: gray; }
  #final-button p {
    margin: 4px 0;
    transition: .3s; }

@media (min-width: 800px) {
  .quiz-container, .quiz-container-special, .tie-breakers {
    height: 28vh; } }
@media (min-width: 1350px) {
  .quiz-container, .quiz-container-special, .tie-breakers {
    height: 23vh; } }
@keyframes pulse {
  0% {
    opacity: 1;
    height: 210px;
    width: 210px; }
  22% {
    opacity: .08;
    border: 43px solid gray;
    height: 290px;
    width: 290px; }
  55%, 100% {
    opacity: 0;
    border: 1px solid gray;
    height: 400px;
    width: 400px; } }
.h1-container {
  color: #cccccc;
  text-align: center;
  overflow: hidden; }
  .h1-container h1 {
    font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); }
  .h1-container h2 {
    font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Herr Von Muellerhoff', cursive;
    letter-spacing: 2px;
    animation: start-fades 10s; }
  .h1-container i {
    color: white;
    font-size: 45px; }
  .h1-container .far:hover, .h1-container .fas:hover {
    transition: .3s;
    font-size: 50px;
    cursor: pointer; }
  .h1-container #first-div {
    left: -5%;
    width: 110%;
    position: relative;
    background: #0a0a0a;
    height: 420px;
    transform: skewY(6deg);
    height: 460px;
    top: -60px;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, purple, blue, cyan, green, lightgreen, yellow, orange, red, pink);
    border-image-slice: 1; }
    .h1-container #first-div h1, .h1-container #first-div h2 {
      position: relative;
      top: 190px;
      transform: skewY(-6deg); }
  .h1-container #second-div, .h1-container #fourth-div {
    position: relative;
    top: 80px; }
  .h1-container #second-div {
    margin-bottom: 260px; }
    .h1-container #second-div .fa-eye {
      position: absolute;
      top: 180px;
      left: 50%;
      transform: translate(-50%, -50%); }
  .h1-container #fourth-div {
    margin-bottom: 280px;
    margin-top: 310px;
    position: relative; }
    .h1-container #fourth-div i {
      position: absolute;
      top: 184px;
      left: 50%;
      transform: translate(-50%, -50%); }
  .h1-container #third-div {
    left: -5%;
    width: 110%;
    position: relative;
    background: #0a0a0a;
    height: 420px;
    margin-top: 200px;
    height: 300px;
    top: 50px;
    transform: skewY(-6deg);
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, purple, blue, cyan, green, lightgreen, yellow, orange, red, pink);
    border-image-slice: 1; }
    .h1-container #third-div::after {
      content: '';
      position: absolute;
      bottom: -195px;
      height: 250px;
      left: -5%;
      width: 110%;
      background: #0a0a0a;
      transform: skewY(12deg);
      border-bottom: 3px solid transparent;
      border-image: linear-gradient(to right, purple, blue, cyan, green, lightgreen, yellow, orange, red, pink);
      border-image-slice: 1; }
    .h1-container #third-div::before {
      content: '';
      position: absolute;
      bottom: -175px;
      height: 250px;
      width: 100%;
      background: #0a0a0a;
      transform: skewY(6deg);
      z-index: -2; }
    .h1-container #third-div h1 {
      transform: skewY(6deg);
      position: relative;
      top: 150px;
      z-index: 5; }
    .h1-container #third-div i {
      position: relative;
      top: 205px; }
    .h1-container #third-div .far {
      z-index: 5; }
  .h1-container #last-div {
    left: -5%;
    width: 110%;
    position: relative;
    background: #0a0a0a;
    height: 420px;
    height: 350px;
    margin-top: 80px;
    top: 50px;
    transform: skewY(-6deg);
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, purple, blue, cyan, green, lightgreen, yellow, orange, red, pink);
    border-image-slice: 1; }

.fa-arrow-alt-circle-up {
  position: absolute;
  font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  top: -120px;
  right: 50px;
  cursor: pointer;
  color: #616161; }

.fa-arrow-alt-circle-up:hover {
  color: #adadad; }

@keyframes start-fades {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

body {
  margin: 0px;
  background: #141414;
  background-image: linear-gradient(#141414 -130px, rgba(20, 20, 20, 0.5)), repeating-linear-gradient(-45deg, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5) 5px, black 5px, black 10px), repeating-linear-gradient(45deg, black, black 5px, rgba(20, 20, 20, 0.5) 5px, rgba(20, 20, 20, 0.5) 10px);
  background-repeat: no-repeat;
  font-size: 25px;
  font-family: 'Signika Negative', sans-serif;
  letter-spacing: 1px;
  height: 100%; }

#navbar {
  background: #141414;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.7); }
  #navbar a {
    color: #e6e6e6; }
  #navbar a:hover {
    color: white; }

#navbar > span {
  position: relative; }

.extra-margin {
  margin: 26px; }

#elements:hover #triangle {
  transform: rotate(180deg);
  top: 35px; }

.container-dropdown-elements-menu:hover, #elements:hover ~ .container-dropdown-elements-menu {
  display: block;
  animation: dropdown-animation .3s; }

#triangle {
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  z-index: 4;
  top: 29px;
  left: 103px; }

.container-dropdown-elements-menu {
  opacity: 1;
  display: none;
  position: absolute;
  height: 250px;
  width: 120px;
  top: 60px;
  left: 390px;
  margin-top: 2px; }
  .container-dropdown-elements-menu .dropdown-elements-menu {
    width: 100%;
    position: absolute;
    background: #141414;
    color: white;
    z-index: 3;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-top: none; }

.dropdown-elements-menu ul {
  margin: 4px 0px;
  padding: 0px;
  text-align: left; }
  .dropdown-elements-menu ul li {
    list-style-type: none;
    position: relative;
    padding: 10px 5px; }
    .dropdown-elements-menu ul li .overlay-elements {
      background: #71cdf2 linear-gradient(white, pink);
      height: 0;
      width: 4px;
      position: absolute;
      left: 0;
      top: 25px;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .dropdown-elements-menu ul li a {
      padding: 5px 20px;
      color: white;
      text-decoration: none;
      letter-spacing: 4px;
      width: 100%;
      height: 100%; }
    .dropdown-elements-menu ul li a:hover {
      color: white;
      text-decoration: none; }
    .dropdown-elements-menu ul li a:hover ~ .overlay-elements {
      height: 70%;
      top: 6px; }

.picture-container {
  position: relative;
  background: black;
  padding: 10px;
  width: 100%;
  z-index: 1;
  margin: 30px 30px;
  padding: 0px; }

.centered {
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  letter-spacing: 15px;
  text-shadow: 2px 2px 3px black;
  color: white; }

.overlay {
  position: fixed;
  top: 35%;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 30%;
  opacity: .5;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 0; }

.changed-a {
  position: relative;
  cursor: default; }

.changed-a > a {
  color: white;
  padding: 30px 10px;
  text-decoration: none; }

.changed-b::hover {
  color: gray;
  padding: 0px 10px;
  text-decoration: none; }

.overlay-a {
  position: absolute;
  bottom: -17px;
  left: 10px;
  padding: 0;
  height: 3px;
  background: #71cdf2 linear-gradient(to left, white, pink);
  width: 0;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

#quiz:hover .overlay-a {
  width: 68%; }

.changed-a:hover .overlay-a {
  width: 80%; }

.changed-b:hover .overlay-a {
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 60%; }

#mistPic {
  background: url("../pics/mist.jpeg") bottom center no-repeat; }

#firePic {
  background: url("../pics/fire.jpg") top center no-repeat; }

#waterPic {
  background: url("../pics/water.jpg") center center no-repeat; }

#windPic {
  background: url("../pics/wind.jpg") center center no-repeat; }

#earthPic {
  background: url("../pics/earth.jpg") bottom center no-repeat; }

#mistPic, #firePic, #waterPic, #windPic, #earthPic {
  border-radius: 3px;
  height: 100%;
  background-size: cover;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  animation: start-fade 1s, dna-fade 4.5s;
  animation-delay: 0s, 1s; }

.outer {
  height: 330px;
  overflow: hidden; }

.picture-container:hover .overlay {
  width: 100%; }
.picture-container:hover #mistPic, .picture-container:hover #firePic, .picture-container:hover #waterPic, .picture-container:hover #windPic, .picture-container:hover #earthPic {
  transform: scale(1.05); }

.row {
  padding: 0px;
  margin: 0px;
  position: relative; }

@media (max-width: 991px) {
  .picture-container {
    margin: 10px 20px; }

  .extra-margin {
    margin: 10px; }

  .changed-a:hover .overlay-a .changed-b:hover .overlay-a {
    width: 0; }

  .picture-container:hover .overlay {
    width: 0; } }
@media (max-width: 768px) {
  .outer {
    height: 260px; }

  #science, #elements, #elements-dropdown, #stats, #quiz, .overlay-a, .overlay-a {
    display: none; }

  #icon {
    left: calc(50% - 30px); }

  #hidden-nav {
    display: block; } }
@keyframes dropdown-animation {
  0% {
    opacity: 0;
    top: 5; }
  100% {
    opacity: 1;
    top: 60px; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade {
  opacity: 1;
  animation: fadeIn .75s; }

disappear {
  display: none; }

#down-arrow {
  cursor: pointer;
  position: relative;
  bottom: -5px;
  left: calc(50% - 10px);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #d7d7d7; }

#down-arrow:hover {
  background: #bdbdbd; }

#comingSoon {
  z-index: 5;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  color: white;
  font-size: 28px;
  padding: 4px 10px;
  cursor: default;
  text-shadow: 1px 1px 2px black; }

.element-picture {
  transition: 0s;
  -moz-transition: 0s;
  -webkit-transition: 0s; }

.fa-google-play {
  font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #2e2e2e;
  margin-bottom: 20px; }

#element-eye {
  font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #2e2e2e; }

#element-eye:hover {
  color: #2959ad; }

@keyframes dna-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes start-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=formatting2.css.map */
