<style>
    .modal-body {
        padding: 25px;
        margin: 5px;
    }
    .modal-header {
        padding: 20px 25px;
    }
</style>




<div id="commentBlock" class="commentBlock" >
    <button id="btn-dark" data-toggle="modal" data-target="#modal" class="btn btn-dark">Write a Comment</button>
    <input id="name" placeholder="Your nickname">
    <textarea id="text" placeholder="Your comment"></textarea>
</div>




<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modalLabel">
                    Working on it!
                </h2>
            </div>
            <div class="modal-body">
            This feature is still in progress. Alternatively, feel free to comment in the Play Store!
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="button">
                    Okay, thanks.
                </button>
            </div>
        </div>
    </div>
</div>


{% for line in comments.items %}
    <div class="comment-container">
        <div class="comment">
        {% for comment in line %}
            <div class="date">
                {{ comment.Date }}
            </div>
            <div class="name">
                {{ comment.Name }}
            </div>
            <div class="comment">
                {{ comment.Comment }}
            </div>
        </div>
            <br />
            {% for line_two in comment.Replays.items %}
                {% for reply in line_two %}
                    <div class="reply-date">
                        {{ reply.Date }}
                    </div>
                    <div class="reply-name">
                        {{ reply.Name }}
                    </div>
                    <div class="reply-comment">
                        {{ reply.Comment }}
                    </div>
    </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

