{% extends 'base2.html' %}

{% block title %}
    Earth
{% endblock %}

{% block body %}

    <style>
        li:nth-child(2) > a {
            color: white;
        }
    </style>

    <header>
        <div id="bigEarthPic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Firm | Level-headed | Down-to-earth</p>
                <p>Earth is tough and doesn't back down. My emotional stability rivals that of mountains. Like a snow-covered peek, I keep a cool head in difficult situations. When faced with danger, earth has the potential to devastate its surroundings through destructive earthquakes and ravaging rock slides. The other elements unanimously appreciate my levelheadedness much more than my power though. Consequently, I'll continue to use my cool head to guide the other elements to positive change.</p>
                <p class="center">Get the app to reveal your element, and see how you interact with an earth element!<p>
                <span class="center"><a href="https://play.google.com/store/apps/details?id=myelement1.myapp">To Play Store</a></span>
            </div>
        </div>
    </header>
{% endblock %}
