{% extends 'base2.html' %}
{% load static %}

{% block title %}
    My Element
{% endblock %}

{% block meta %}
    <meta name="description" content="Answer the question: What is my element? And discover the truth about your element.">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:title" content="My Element">
    <meta name="twitter:description" content="My Element is a marriage between the mystic and scientific. Through unveiling questions, you'll reveal your element: water, wind, earth, or fire. It's a personality-based quiz that definitely answer the question: 'What is my element?'">
    <meta name="twitter:image" content="https://www.dropbox.com/s/76j3u2htsjk8x50/mist.jpeg?raw=1">

    <!-- Open Graph data -->
    <meta property="og:title" content="My Element" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.myelement.com/" />
    <meta property="og:image" content="https://www.dropbox.com/s/76j3u2htsjk8x50/mist.jpeg?raw=1" />
    <meta property="og:description" content="My Element is a marriage between the mystic and scientific. Through unveiling questions, you'll reveal your element: water, wind, earth, or fire. It's a personality-based quiz that definitely answer the question: 'What is my element?'" />
    <meta property="og:site_name" content="My Element" />

{% endblock %}

{% block style %}

<style>

    #icon .overlay-a {
        width: 60%;
        background: pink linear-gradient(to right, white, pink);
    }
    #icon:hover a {
        cursor: default;
    }
    #icon:hover .overlay-a {
        width:0;
    }
    @media (max-width: 768px) {
        .overlay-a {
            display:none;
        }
    }
    ul:nth-child(1) > a {
        color: white;
    }

</style>

{% endblock %}

{% block body %}

    <div class="h1-container">

        <div id="first-div">
            <h1 style="color: white; font-size: 52px;">My Element</h1>
            <h2>- Reveal What's Inside -</h2>
        </div>

        <div id="second-div">
            <h1>Find your element</h1><h1>with unveiling questions</h1>
            <a href="{% url 'quiz' %}"><i class="fas fa-eye"></i></a>
        </div>

        <div id="third-div">
            <h1>View global results</h1><h1>from all quizzes</h1>
            <a href="{% url 'stats' %}"><i class="far fa-chart-bar"></i></a>
        </div>

        <div id="fourth-div">
            <h1>Explore all four</h1><h1>element personalities</h1>
            <i class="fas fa-dna"></i>
        </div>

    </div>


    <div class="row justify-content-center fade">

        <div class="outer col-xl-5 picture-container">
            <a href="{% url 'fire' %}">
                <div id="firePic">
                <div class="overlay"></div>
                    <div class="centered">Fire</div>
                </div>
            </a>
        </div>

        <div class="outer col-lg-5 picture-container">
            <a href="{% url 'wind' %}">
                <div id="windPic">
                <div class="overlay"></div>
                    <div class="centered">Wind</div>
                </div>
            </a>
        </div>

        <div class="outer col-lg-5 picture-container">
            <a href="{% url 'earth' %}">
                <div id="earthPic">
                <div class="overlay"></div>
                    <div class="centered">Earth</div>
                </div>
            </a>
        </div>

        <div class="outer col-xl-5 picture-container">
            <a href="{% url 'water' %}">
                <div id="waterPic">
                <div class="overlay"></div>
                    <div class="centered">Water</div>
                </div>
            </a>
        </div>

        <div class="outer col-xl-10 picture-container">
        <div id="comingSoon">Coming Soon...</div>
            <a>
                <div id="mistPic">
                <div class="overlay"></div>
                    <div class="centered" style="cursor: default;">Mist</div>
                </div>
            </a>
        </div>
    </div>


    <div class="h1-container" style="overflow: hidden; height: 300px;">
        <div id="last-div"></div>
    </div>

    <div style="position: relative;">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>

    <script>
        $('.fa-dna').click(function() {
            $('html, body').stop().animate({
                scrollTop: $('#firePic').offset().top - 100
            }, 1000);
        });

        $('.fa-arrow-alt-circle-up').click(function() {
            $('html, body').stop().animate({
                scrollTop: $( 'html' ).offset().top
            },700);
        });

    </script>

{% endblock %}
