{% extends 'base2.html' %}
{% load static %}

{% block title %}
    Fire Element
{% endblock %}

{% block meta %}
    <meta name="description" content="My element is fire. I am bold, competitive and unapologetic. Fire is fierce and at times uncontrollable. My ferocity allows me to... [Take the quiz to reveal your element]" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:title" content="Fire Element">
    <meta name="twitter:description" content="My element is fire. I am bold, competitive and unapologetic. Fire is fierce and at times uncontrollable. My ferocity allows me to... [Take the quiz to reveal your element]">
    <meta name="twitter:image" content="https://www.dropbox.com/s/sjes5s25gv7y10z/fire.jpg?raw=1">

    <!-- Open Graph data -->
    <meta property="og:title" content="Fire Element" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.myelement.com/fire" />
    <meta property="og:image" content="https://www.dropbox.com/s/sjes5s25gv7y10z/fire.jpg?raw=1" />
    <meta property="og:description" content="My element is fire. I am bold, competitive and unapologetic. Fire is fierce and at times uncontrollable. My ferocity allows me to... [Take the quiz to reveal your element]" />
    <meta property="og:site_name" content="My Element" />

{% endblock %}

{% block body %}

    <style>
        li:nth-child(1) > a {
            color: white;
        }
    </style>

    <header>
        <div class="element-picture" id="bigFirePic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Bold | Competitive | Unapologetic</p>
                <p>Fire is fierce and at times uncontrollable. My ferocity allows me to be unapologetically blunt with anyone who asks for an honest opinion. I can be as deadly as a raging wildfire, or as comforting as a campfire. Undoubtedly, people prefer a warm consistent fire so I often try controlling my intensity. There are moments where I need to release my inner flame though. When I see an injustice in the world, my fierce flames bring fairness to the world. If my friends are ever in trouble, I feel inclined to burn the naysayers. I will continue to be judicious with my power, so the other elements look to me for comfort and protection.</p>
                <br />
                <p class="center">Get the Android app to get offline access:</p>
                <a class="center fab fa-google-play" href="https://play.google.com/store/apps/details?id=myelement1.myapp"></a>
                <p class="center">Or take the quiz online:</p>
                <a id="element-eye" class="center fas fa-eye" href="{% url 'quiz' %}"></a>
            </div>
        </div>
    </header>

    {% include "share.html" %}
    {% include "comment.html" %}

<script>
    $(document).ready(function() {
        $('#fb').children('a').attr('href', 'https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.myelement.us%2Ffire')
        $('#pin').children('a').attr('href', 'http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.myelement.us%2Ffire&description=My+element+is+fire.+I+am+bold%2C+competitive+and+unapologetic.+Fire+is+fierce+and+at+times+uncontrollable.+My+ferocity+allows+me+to...+%5BTake+the+quiz+to+reveal+your+element%5D')
        $('#twit').children('a').attr('href', 'http://twitter.com/share?text=I%27m+a+fire+element%21&url=http%3A%2F%2Fwww.myelement.us%2Ffire')
    });
</script>

{% endblock %}

