{% extends 'base2.html' %}

{% block title %}
    Fire
{% endblock %}

{% block body %}

    <style>
        li:nth-child(1) > a {
            color: white;
        }

    </style>

    <header>
        <div class="element-picture" id="bigFirePic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Bold | Competitive | Unapologetic</p>
                <p>Fire is fierce and at times uncontrollable. My ferocity allows me to be unapologetically blunt with anyone who asks for an honest opinion. I can be as deadly as a raging wildfire, or as comforting as a campfire. Undoubtedly, people prefer a warm consistent fire so I often try controlling my intensity. There are moments where I need to release my inner flame though. When I see an injustice in the world, my fierce flames bring fairness to the world. If my friends are ever in trouble, I feel inclined to burn the naysayers. I will continue to be judicious with my power, so the other elements look to me for comfort and protection.</p>
                <p class="center">Get the app to reveal your element, and see how you interact with a fire element!<p>
                <a class="center" href="https://play.google.com/store/apps/details?id=myelement1.myapp">To Play Store</a>
            </div>
        </div>
    </header>
    {% include "comment.html" %}

{% endblock %}

