{% extends 'base2.html' %}
{% load static %}

{% block title %}
    The Quiz
{% endblock %}


{% block style %}
<style>
    #quiz .overlay-a {
        width:68%;
        background: pink linear-gradient(to right, white, pink);
    }
    #quiz:hover .overlay-a {
        width:0;
    }
    #quiz:hover a {
        cursor: default;
    }
    ul:nth-child(2) > a {
        color: white;
    }
</style>
{% endblock %}

{% block body %}

    <div style="overflow: hidden">
        <div id="finished-container">
        </div>
    </div>

    <div id="intro" class="container quiz-container-special">
        <p style="font-weight:900; letter-spacing: 2px;">Intro:</p><p>Choose a response that best describes you. That's it!</p>
    </div>

    <div class="container tie-breakers">
        <div id="question17" class="row btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
            <p>17) If people wrong me, I hold grudges against them.</p>
            <label class="btn btn-danger label-btn" style="width:47%; border-radius: .25rem 0 0 .25rem">
                <input value="-1" type="radio" name="17" autocomplete="off">Disagree
            </label>

            <label class="btn btn-success label-btn" style="width:47%">
                <input value="1" type="radio" name="17" autocomplete="off">Agree
            </label>
        </div>
    </div>

    <div class="container tie-breakers">
        <div id="question18" class="row btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
            <p>18) It often feels like I have multiple personalities.</p>
            <label class="btn btn-danger label-btn" style="width:47%; border-radius: .25rem 0 0 .25rem">
                <input value="-1" type="radio" name="18" autocomplete="off">Disagree
            </label>

            <label class="btn btn-success label-btn" style="width:47%">
                <input value="1" type="radio" name="18" autocomplete="off">Agree
            </label>
        </div>
    </div>


    <div id="submit-container2">
        <button id="quiz-submit2" class="btn btn-dark submit-buttons">Finished, again!</button>
    </div>

    <div id="to-fill"></div>

    {% for num, q in qs.items %}
        <div id="container{{ forloop.counter }}" class="container quiz-container">
            <p>{{ forloop.counter }}) {{ q }}</p>
            <div id="question{{ forloop.counter }}" class="row btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">

                <label class="btn btn-danger label-btn">
                    <input value="-1" type="radio" name="{{ forloop.counter }}" autocomplete="off">Disagree
                </label>

                <label class="btn btn-warning label-btn">
                    <input value="0" type="radio" name="{{ forloop.counter }}" autocomplete="off">Neutral
                </label>

                <label class="btn btn-success label-btn">
                    <input value="1" type="radio" name="{{ forloop.counter }}" autocomplete="off">Agree
                </label>
            </div>
        </div>
    {% endfor %}

    <div id="submit-container">
        <button id="quiz-submit" class="btn btn-dark submit-buttons">Finished!</button>
    </div>

{% endblock %}



{% block script %}

<script src = '{% static "java/quiz.js" %}'></script>

{% endblock %}