{% extends 'base2.html' %}
{% load static %}

{% block title %}
    Water Element
{% endblock %}

{% block meta %}
    <meta name="description" content="My element is water. I am calming, meditative and accommodating. Water is agile and gracefully moves around all obstacles. Just like water, I clean negative energies with my optimistic disposition. It takes a lot to... [Take the quiz to reveal your element]" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Water Element" />
    <meta name="twitter:description" content="My element is water. I am calming, meditative and accommodating. Water is agile and gracefully moves around all obstacles. Like water, I clean negative energies.. Take the quiz to reveal your element" />
    <meta name="twitter:image" content="https://www.dropbox.com/s/93w8399jwc1weg0/water.jpg?raw=1" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Water Element" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.myelement.com/water" />
    <meta property="og:image" content="https://www.dropbox.com/s/93w8399jwc1weg0/water.jpg?raw=1" />
    <meta property="og:description" content="My element is water. I am calming, meditative and accommodating. Water is agile and gracefully moves around all obstacles. Just like water, I clean negative energies with my optimistic disposition. It takes a lot to... [Take the quiz to reveal your element]"/>
    <meta property="og:site_name" content="My Element" />

{% endblock %}

{% block body %}

    <style>
        li:nth-child(4) > a {
            color: white;
        }
    </style>

    <header>
        <div class="element-picture" id="bigWaterPic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Calming | Meditative | Accommodating</p>
                <p>Water is agile and gracefully moves around all obstacles. Just like water, I clean negative energies with my optimistic disposition. It takes a lot to shift my mood because I'm generally like a calm flowing river. I'm smooth and easy going, which some elements might take advantage of. Every now and then, I have to remind myself that it's okay to give the unappreciative ones my raging rapids. And when someone pushes me to the limit, I wouldn't hesitate to show them the wrath of my waterfall, even though it's not in my nature. I'll keep the good ones floating and wash the rest out to shore.</p>
                <br />
                <p class="center">Get the Android app to get offline access:</p>
                <a class="center fab fa-google-play" href="https://play.google.com/store/apps/details?id=myelement1.myapp"></a>
                <p class="center">Or take the quiz online:</p>
                <a id="element-eye" class="center fas fa-eye" href="{% url 'quiz' %}"></a>
            </div>
        </div>
    </header>

    {% include "share.html" %}
    {% include "comment.html" %}

<script>
    $(document).ready(function() {
        $('#fb').children('a').attr('href', 'https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.myelement.us%2Fwater')
        $('#pin').children('a').attr('href', 'http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.myelement.us%2Fwater&description=My+element+is+water.+I+am+calming%2C+meditative+and+accommodating.+Water+is+agile+and+gracefully+moves+around+all+obstacles.+Just+like+water%2C+I+clean+negative+energies+with+my+optimistic+disposition.+It+takes+a+lot+to...+%5BTake+the+quiz+to+reveal+your+element%5D')
        $('#twit').children('a').attr('href', 'http://twitter.com/share?text=I%27m+a+water+element%21&url=http%3A%2F%2Fwww.myelement.us%2Fwater')
    });
</script>

{% endblock %}
