{% extends 'base2.html' %}

{% block title %}
    Water
{% endblock %}

{% block body %}

    <style>
        li:nth-child(4) > a {
            color: white;
        }
    </style>

    <header>
        <div class="element-picture" id="bigWaterPic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Calming | Meditative | Accommodating</p>
                <p>Water is agile and gracefully moves around all obstacles. Just like water, I clean negative energies with my optimistic disposition. It takes a lot to shift my mood because I'm generally like a calm flowing river. I'm smooth and easy going, which some elements might take advantage of. Every now and then, I have to remind myself that it's okay to give the unappreciative ones my raging rapids. And when someone pushes me to the limit, I wouldn't hesitate to show them the wrath of my waterfall, even though it's not in my nature. I'll keep the good ones floating and wash the rest out to shore.</p>
                <p class="center">Get the app to reveal your element, and see how you interact with a water element!<p>
                <a class="center" href="https://play.google.com/store/apps/details?id=myelement1.myapp">To Play Store</a>
            </div>
        </div>
    </header>
    {% include "comment.html" %}

{% endblock %}
