{% extends 'base2.html' %}

{% block title %}
    Wind
{% endblock %}

{% block body %}

    <style>
        li:nth-child(3) > a {
            color: white;
        }
    </style>

    <header>
        <div id="bigWindPic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Excitable | Empathic | Energetic</p>
                <p>Wind goes with the flow and is very excitable. Throughout the day, my emotional state sporadically changes, like the sudden shifts of wind. Even though I have these shifts, it is either warming air currents or cooling breezes for others around me. Although wind elements are cheerful, that does not mean we are always carefree. We actually tend to feel anxious quite often, which is okay because it is better to fly with anxiety than stay running from it. Despite my anxiousness and shifts in my weather, people love the positive air that I bring to any room with an open window. My excitability also springs me into action anytime I see someone in need. As a wind element, I keep things positive and circulate the vital air around others.</p>
                <p class="center">Get the app to reveal your element, and see how you interact with a wind element!<p>
                <a class="center" href="https://play.google.com/store/apps/details?id=myelement1.myapp">To Play Store</a>
            </div>
        </div>
    </header>

{% endblock %}
