{% extends 'base2.html' %}
{% load static %}

{% block title %}
    Wind Element
{% endblock %}

{% block meta %}
    <meta name="description" content="My element is wind. I am excitable, empathic and energetic! Wind goes with the flow. Throughout the day, my emotional state sporadically changes, like the sudden shifts of wind. Even though I... [Take the quiz to reveal your element]" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Wind Element" />
    <meta name="twitter:description" content="My element is wind. I am excitable, empathic and energetic! Wind goes with the flow. Throughout the day, my emotional state sporadically changes, like the sudden.. Take the quiz to reveal your element" />
    <meta name="twitter:image" content="https://www.dropbox.com/s/vhq3j78ql7fsiuq/wind.jpg?raw=1" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Wind Element" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.myelement.com/wind" />
    <meta property="og:image" content="https://www.dropbox.com/s/vhq3j78ql7fsiuq/wind.jpg?raw=1" />
    <meta property="og:description" content="My element is wind. I am excitable, empathic and energetic! Wind goes with the flow. Throughout the day, my emotional state sporadically changes, like the sudden shifts of wind. Even though I... [Take the quiz to reveal your element]" />
    <meta property="og:site_name" content="My Element" />

{% endblock %}

{% block body %}

    <style>
        li:nth-child(3) > a {
            color: white;
        }
    </style>

    <header>
        <div class="element-picture" id="bigWindPic"></div>
        <div>
            <div class="writingBlock">
                <p class="center">Excitable | Empathic | Energetic</p>
                <p>Wind goes with the flow and is very excitable. Throughout the day, my emotional state sporadically changes, like the sudden shifts of wind. Even though I have these shifts, it is either warming air currents or cooling breezes for others around me. Although wind elements are cheerful, that does not mean we are always carefree. We actually tend to feel anxious quite often, which is okay because it is better to fly with anxiety than stay running from it. Despite my anxiousness and shifts in my weather, people love the positive air that I bring to any room with an open window. My excitability also springs me into action anytime I see someone in need. As a wind element, I keep things positive and circulate the vital air around others.</p>
                <p class="center">Get the app to reveal your element, and see how you interact with a wind element!<p>
                <a class="center fab fa-google-play" href="https://play.google.com/store/apps/details?id=myelement1.myapp"></a>
            </div>
        </div>
    </header>

    {% include "share.html" %}
    {% include "comment.html" %}

<script>
    $(document).ready(function() {
        $('#fb').children('a').attr('href', 'https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.myelement.us%2Fwind')
        $('#pin').children('a').attr('href', 'http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.myelement.us%2Fwind&description=My+element+is+wind.+I+am+excitable%2C+empathic+and+energetic%21+Wind+goes+with+the+flow.+Throughout+the+day%2C+my+emotional+state+sporadically+changes%2C+like+the+sudden+shifts+of+wind.+Even+though+I...+%5BTake+the+quiz+to+reveal+your+element%5D')
        $('#twit').children('a').attr('href', 'http://twitter.com/share?text=I%27m+a+wind+element%21&url=http%3A%2F%2Fwww.myelement.us%2Fwind')
    });
</script>

{% endblock %}
